/*
white: #ffffff
black: #000000
RED HEX COLOR: #EC0C1C;
DARK RED HEX COLOR: #D80919;
BLUE HEX COLOR: #063672;
GOLD HEX COLOR: #9B814E;

font-family: 'Eczar', Georgia, serif;
font-family: 'Open Sans', Helvetica, sans-serif;
font-family: 'Roboto', 'Open Sans', Helvetica, sans-serif;


*/

body {
  display: flex;
  width: 100%;
  margin: auto;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

}
header {
  padding: 4em;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: #EC0C1C;
  height: 25em;
}
h1 {
  font-family: 'Eczar', Georgia;
}
.classList {
  display: flex;
  width: 100%;
  margin: auto;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
