/*
white: #ffffff
black: #000000
RED HEX COLOR: #EC0C1C;
DARK RED HEX COLOR: #D80919;
BLUE HEX COLOR: #063672;
GOLD HEX COLOR: #9B814E;

font-family: 'Eczar', Georgia, serif;
font-family: 'Open Sans', Helvetica, sans-serif;
font-family: 'Roboto', 'Open Sans', Helvetica, sans-serif;


*/

body {
  display: flex;
  width: 100%;
  margin: auto;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

}
header {
  padding: 5em;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: var(--main1-color);
  height: auto;
  width: 100%;
  color: var(--fourth1-color);
  border-bottom: 2px solid var(--second2-color);
  font-family: 'Roboto', 'Open Sans', Helvetica, sans-serif;
}
header span.greeting img{
  height: 15em;
}

header h2 {
  margin: auto;
  margin-top: 1em;
  justify-content: center;
  text-align: center;
}
header .icon {
  border: 2px solid var(--fourth1-color);
  border-radius: 50%;
  height: 4em;
  width: 4em;
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
header i {
  font-size: 1.5em;


}
.classList {
  display: flex;
  width: 100%;
  margin: auto;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
main {
  background-color: var(--second1-color);
  width: 100%;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--fourth1-color);
  font-family: 'Roboto', 'Open Sans', Helvetica, sans-serif;
}
.subject {
  margin: 2em;
  padding: 2em;
  background-color: var(--third1-color);
  font-family: 'Eczar', Georgia, serif;
}
hr {
    display: block;
    height: 1px;
    width: 90%;
    border: 0;
    margin: 1em 0;
    padding: 0;
    border-top: 1px solid var(--main2-color);
}
