/*
white: #ffffff
black: #000000
RED HEX COLOR: #EC0C1C;
                rgb(236,12,28);
DARK RED HEX COLOR: #D80919;
                    rgb(216,9,25);
BLUE HEX COLOR: #063672;
GOLD HEX COLOR: #9B814E;

font-family: 'Raleway', Helvetica, sans-serif;
font-family: 'Raleway Dots', cursive;
font-family: 'PT Serif', Georgia, serif;
font-family: 'IBM Plex Sans', Helvetica, sans-serif;

font-family: 'Eczar', Georgia, serif;
font-family: 'Open Sans', Helvetica, sans-serif;
font-family: 'Roboto', 'Open Sans', Helvetica, sans-serif;
*/
:root {
  --main1-color: #253b6e;
  --second1-color: #1f5f8b;
  --third1-color: #1891ac;
  --fourth1-color: #d2ecf9;

  --main2-color: #155263;
  --second2-color: #ff6f3c;
  --third2-color: #ff9a3c;
  --fourth2-color: #ffc93c;
}



html {
  font-size: 16px;
}
button:focus {
  outline: none;
}
h1 {
  font-family: 'Eczar', Georgia;
}

body {
  background-color: #ffffff;
}

footer {
  padding: 1em;
  width: 100%;
  background-color: var(--third1-color);
  color: var(--fourth1-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-family: 'Roboto', 'Open Sans', Helvetica, sans-serif;
}
footer .info {
  width: 90%;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .contact {
  width: 45%;
  height: auto;
  margin: auto;
  text-align: center;
}
footer .map {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 50%;
}
footer .map iframe {
  width: 50%;
  height: 75%;
}
ul {
  list-style-type: none;
}
ul li {
  margin: 1em auto;
}
a {
  color: var(--fourth1-color);
}
a:hover {
  text-decoration: none;
  color: var(--third2-color);
}
footer .endMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .endMessage h2 {
  font-size: 1.5em;
}
footer img {
height: 3em;
}
